<%- include("components/head.ejs") %>
  <%- include("components/sidebar.ejs") %>
    <%- include("components/topbar.ejs") %>
      <div class="container-fluid">
        <div class="container px-5 my-5">
          <div class="col-10">
            <% if (method == "POST" ) { %>
              <form id="carForm" method="POST" action="/cars">
                <% } else { %>
                  <form id="carForm" method="POST" action="/cars/<%= id %>?_method=PUT">
                    <% } %>
                      <div class="form-group row">
                        <label class="form-label col-2" for="nama">Nama<span class="text-danger">*</span></label>
                        <div class="col-10">
                          <input class="form-control" id="nama" type="text" data-sb-validations="required"
                            name="name" />
                          <div class="invalid-feedback" data-sb-feedback="nama:required">Nama* is required.</div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="form-label col-2" for="sewaPerHari">Sewa Per Hari<span
                            class="text-danger">*</span></label>
                        <div class="col-10">
                          <input class="form-control" id="sewaPerHari" type="number" data-sb-validations="required"
                            name="price" />
                          <div class="invalid-feedback" data-sb-feedback="sewaPerHari:required">Sewa Per Hari* is
                            required.
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="form-label col-2" for="ukuran">Ukuran<span class="text-danger">*</span></label>
                        <div class="col-10">
                          <select class="form-select" id="ukuran" aria-label="Ukuran" name="size">
                            <option value="small">Small</option>
                            <option value="medium">Medium</option>
                            <option value="large">Large</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="form-label col-2" for="foto">Foto<span class="text-danger">*</span></label>
                        <div class="col-10">
                          <input class="form-control" id="foto" type="file" placeholder="Foto*"
                            data-sb-validations="required" name="image" />
                          <small class="form-text text-muted">File size max. 2MB</small>
                          <div class="invalid-feedback" data-sb-feedback="foto:required">Foto* is required.</div>
                        </div>
                      </div>
                      <div class="mt-2">
                        <a href="/" type="button" class="btn btn-outline-primary">Cancel</a>
                        <button class="btn btn-primary" type="submit">Save</button>
                      </div>
                  </form>
          </div>
        </div>
        <!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->
        <%- include("components/footer.ejs") %>